In [1]:
%LOAD sqlite_db_pythonsqlite.db

In [2]:
%GET_INFO

Magic header string: SQLite format 3
Page size bytes: 4096
File format write version: 1
File format read version: 1
Reserved space bytes: 0
Max embedded payload fraction 64
Min embedded payload fraction: 32
Leaf payload fraction: 32
File change counter: 1
Database size pages: 53
First freelist trunk page: 0
Total freelist trunk pages: 0
Schema cookie: 3
Schema format number: 4
Default page cache size bytes: 0
Largest B tree page number: 0
Database text encoding: 1
User version: 0
Incremental vaccum mode: 0
Application ID: 0
Version valid for: 1
SQLite version: 3027002

In [16]:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */
SELECT 
    sq.name as facility, 
    sum(sq.cost * b.slots) as revenue
FROM (
    SELECT facid, memid, name, guestcost as cost
    FROM Members
    INNER JOIN Facilities
    WHERE memid = 0
	UNION
    SELECT facid, memid, name, membercost as cost
    FROM Members
    INNER JOIN Facilities
    WHERE memid != 0
	)  as sq
INNER JOIN Bookings as b
	ON sq.facid = b.facid
	AND sq.memid = b.memid
GROUP BY facility
HAVING revenue < 1000
ORDER BY revenue

+---------------+---------+
| facility      | revenue |
+---------------+---------+
| Table Tennis  | 180     |
+---------------+---------+
| Snooker Table | 240     |
+---------------+---------+
| Pool Table    | 270     |
+---------------+---------+

In [22]:
SELECT * from members

+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| memid | surname           | firstname | address                                 | zipcode | telephone      | recommendedby | joindate            |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 0     | GUEST             | GUEST     | GUEST                                   | 0       | (000) 000-0000 |               | 2012-07-01 00:00:00 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 1     | Smith             | Darren    | 8 Bloomsbury Close, Boston              | 4321    | 555-555-5555   |               | 2012-07-02 12:02:05 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 2     | Smith             | Tracy     | 8 Bloomsbury Close, New York            | 4321    | 555-555-5555   |               | 2012-07-02 12:08:23 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 3     | Rownam            | Tim       | 23 Highway Way, Boston                  | 23423   | (844) 693-0723 |               | 2012-07-03 09:32:15 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 4     | Joplette          | Janice    | 20 Crossing Road, New York              | 234     | (833) 942-4710 | 1             | 2012-07-03 10:25:05 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 5     | Butters           | Gerald    | 1065 Huntingdon Avenue, Boston          | 56754   | (844) 078-4130 | 1             | 2012-07-09 10:44:09 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 6     | Tracy             | Burton    | 3 Tunisia Drive, Boston                 | 45678   | (822) 354-9973 |               | 2012-07-15 08:52:55 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 7     | Dare              | Nancy     | 6 Hunting Lodge Way, Boston             | 10383   | (833) 776-4001 | 4             | 2012-07-25 08:59:12 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 8     | Boothe            | Tim       | 3 Bloomsbury Close, Reading, 00234      | 234     | (811) 433-2547 | 3             | 2012-07-25 16:02:35 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 9     | Stibbons          | Ponder    | 5 Dragons Way, Winchester               | 87630   | (833) 160-3900 | 6             | 2012-07-25 17:09:05 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 10    | Owen              | Charles   | 52 Cheshire Grove, Winchester, 28563    | 28563   | (855) 542-5251 | 1             | 2012-08-03 19:42:37 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 11    | Jones             | David     | 976 Gnats Close, Reading                | 33862   | (844) 536-8036 | 4             | 2012-08-06 16:32:55 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 12    | Baker             | Anne      | 55 Powdery Street, Boston               | 80743   | 844-076-5141   | 9             | 2012-08-10 14:23:22 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 13    | Farrell           | Jemima    | 103 Firth Avenue, North Reading         | 57392   | (855) 016-0163 |               | 2012-08-10 14:28:01 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 14    | Smith             | Jack      | 252 Binkington Way, Boston              | 69302   | (822) 163-3254 | 1             | 2012-08-10 16:22:05 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 15    | Bader             | Florence  | 264 Ursula Drive, Westford              | 84923   | (833) 499-3527 | 9             | 2012-08-10 17:52:03 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 16    | Baker             | Timothy   | 329 James Street, Reading               | 58393   | 833-941-0824   | 13            | 2012-08-15 10:34:25 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 17    | Pinker            | David     | 5 Impreza Road, Boston                  | 65332   | 811 409-6734   | 13            | 2012-08-16 11:32:47 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 20    | Genting           | Matthew   | 4 Nunnington Place, Wingfield, Boston   | 52365   | (811) 972-1377 | 5             | 2012-08-19 14:55:55 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 21    | Mackenzie         | Anna      | 64 Perkington Lane, Reading             | 64577   | (822) 661-2898 | 1             | 2012-08-26 09:32:05 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 22    | Coplin            | Joan      | 85 Bard Street, Bloomington, Boston     | 43533   | (822) 499-2232 | 16            | 2012-08-29 08:32:41 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 24    | Sarwin            | Ramnaresh | 12 Bullington Lane, Boston              | 65464   | (822) 413-1470 | 15            | 2012-09-01 08:44:42 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 26    | Jones             | Douglas   | 976 Gnats Close, Reading                | 11986   | 844 536-8036   | 11            | 2012-09-02 18:43:05 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 27    | Rumney            | Henrietta | 3 Burkington Plaza, Boston              | 78533   | (822) 989-8876 | 20            | 2012-09-05 08:42:35 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 28    | Farrell           | David     | 437 Granite Farm Road, Westford         | 43532   | (855) 755-9876 |               | 2012-09-15 08:22:05 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 29    | Worthington-Smyth | Henry     | 55 Jagbi Way, North Reading             | 97676   | (855) 894-3758 | 2             | 2012-09-17 12:27:15 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 30    | Purview           | Millicent | 641 Drudgery Close, Burnington, Boston  | 34232   | (855) 941-9786 | 2             | 2012-09-18 19:04:01 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 33    | Tupperware        | Hyacinth  | 33 Cheerful Plaza, Drake Road, Westford | 68666   | (822) 665-5327 |               | 2012-09-18 19:32:05 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 35    | Hunt              | John      | 5 Bullington Lane, Boston               | 54333   | (899) 720-6978 | 30            | 2012-09-19 11:32:45 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 36    | Crumpet           | Erica     | Crimson Road, North Reading             | 75655   | (811) 732-4816 | 2             | 2012-09-22 08:36:38 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+
| 37    | Smith             | Darren    | 3 Funktown, Denzington, Boston          | 66796   | (822) 577-3541 |               | 2012-09-26 18:08:45 |
+-------+-------------------+-----------+-----------------------------------------+---------+----------------+---------------+---------------------+

In [23]:
/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
SELECT 
    m.surname || ' ' || m.firstname AS recommended, 
    r.surname || ' ' || r.firstname AS recommender
FROM members as m
INNER JOIN members as r
ON m.recommendedby = r.memid
ORDER BY recommended

+-------------------------+-------------------+
| recommended             | recommender       |
+-------------------------+-------------------+
| Bader Florence          | Stibbons Ponder   |
+-------------------------+-------------------+
| Baker Anne              | Stibbons Ponder   |
+-------------------------+-------------------+
| Baker Timothy           | Farrell Jemima    |
+-------------------------+-------------------+
| Boothe Tim              | Rownam Tim        |
+-------------------------+-------------------+
| Butters Gerald          | Smith Darren      |
+-------------------------+-------------------+
| Coplin Joan             | Baker Timothy     |
+-------------------------+-------------------+
| Crumpet Erica           | Smith Tracy       |
+-------------------------+-------------------+
| Dare Nancy              | Joplette Janice   |
+-------------------------+-------------------+
| Genting Matthew         | Butters Gerald    |
+-------------------------+-------------------+
| Hunt John               | Purview Millicent |
+-------------------------+-------------------+
| Jones David             | Joplette Janice   |
+-------------------------+-------------------+
| Jones Douglas           | Jones David       |
+-------------------------+-------------------+
| Joplette Janice         | Smith Darren      |
+-------------------------+-------------------+
| Mackenzie Anna          | Smith Darren      |
+-------------------------+-------------------+
| Owen Charles            | Smith Darren      |
+-------------------------+-------------------+
| Pinker David            | Farrell Jemima    |
+-------------------------+-------------------+
| Purview Millicent       | Smith Tracy       |
+-------------------------+-------------------+
| Rumney Henrietta        | Genting Matthew   |
+-------------------------+-------------------+
| Sarwin Ramnaresh        | Bader Florence    |
+-------------------------+-------------------+
| Smith Jack              | Smith Darren      |
+-------------------------+-------------------+
| Stibbons Ponder         | Tracy Burton      |
+-------------------------+-------------------+
| Worthington-Smyth Henry | Smith Tracy       |
+-------------------------+-------------------+

In [30]:
/* Q12: Find the facilities with their usage by member, but not guests */
SELECT
    f.name as facility, 
    m.firstname || ' ' || m.surname as member, 
    sum(slots) as usage
FROM Facilities as f
INNER JOIN Bookings as b
    USING(facid)
INNER JOIN Members as m
    USING(memid)
WHERE m.memid != 0
GROUP BY facility, member
ORDER BY facility, member

+-----------------+-------------------------+-------+
| facility        | member                  | usage |
+-----------------+-------------------------+-------+
| Badminton Court | Anna Mackenzie          | 96    |
+-----------------+-------------------------+-------+
| Badminton Court | Anne Baker              | 30    |
+-----------------+-------------------------+-------+
| Badminton Court | Burton Tracy            | 6     |
+-----------------+-------------------------+-------+
| Badminton Court | Charles Owen            | 18    |
+-----------------+-------------------------+-------+
| Badminton Court | Darren Smith            | 432   |
+-----------------+-------------------------+-------+
| Badminton Court | David Jones             | 24    |
+-----------------+-------------------------+-------+
| Badminton Court | David Pinker            | 21    |
+-----------------+-------------------------+-------+
| Badminton Court | Douglas Jones           | 6     |
+-----------------+-------------------------+-------+
| Badminton Court | Erica Crumpet           | 6     |
+-----------------+-------------------------+-------+
| Badminton Court | Florence Bader          | 27    |
+-----------------+-------------------------+-------+
| Badminton Court | Gerald Butters          | 63    |
+-----------------+-------------------------+-------+
| Badminton Court | Henry Worthington-Smyth | 15    |
+-----------------+-------------------------+-------+
| Badminton Court | Hyacinth Tupperware     | 3     |
+-----------------+-------------------------+-------+
| Badminton Court | Jack Smith              | 36    |
+-----------------+-------------------------+-------+
| Badminton Court | Jemima Farrell          | 21    |
+-----------------+-------------------------+-------+
| Badminton Court | John Hunt               | 6     |
+-----------------+-------------------------+-------+
| Badminton Court | Millicent Purview       | 6     |
+-----------------+-------------------------+-------+
| Badminton Court | Nancy Dare              | 30    |
+-----------------+-------------------------+-------+
| Badminton Court | Ponder Stibbons         | 48    |
+-----------------+-------------------------+-------+
| Badminton Court | Ramnaresh Sarwin        | 21    |
+-----------------+-------------------------+-------+
| Badminton Court | Tim Boothe              | 36    |
+-----------------+-------------------------+-------+
| Badminton Court | Tim Rownam              | 12    |
+-----------------+-------------------------+-------+
| Badminton Court | Timothy Baker           | 21    |
+-----------------+-------------------------+-------+
| Badminton Court | Tracy Smith             | 102   |
+-----------------+-------------------------+-------+
| Massage Room 1  | Anna Mackenzie          | 2     |
+-----------------+-------------------------+-------+
| Massage Room 1  | Anne Baker              | 6     |
+-----------------+-------------------------+-------+
| Massage Room 1  | Burton Tracy            | 62    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Charles Owen            | 22    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Darren Smith            | 58    |
+-----------------+-------------------------+-------+
| Massage Room 1  | David Jones             | 40    |
+-----------------+-------------------------+-------+
| Massage Room 1  | David Pinker            | 6     |
+-----------------+-------------------------+-------+
| Massage Room 1  | Erica Crumpet           | 4     |
+-----------------+-------------------------+-------+
| Massage Room 1  | Gerald Butters          | 66    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Henry Worthington-Smyth | 2     |
+-----------------+-------------------------+-------+
| Massage Room 1  | Hyacinth Tupperware     | 2     |
+-----------------+-------------------------+-------+
| Massage Room 1  | Jack Smith              | 54    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Janice Joplette         | 24    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Jemima Farrell          | 68    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Joan Coplin             | 2     |
+-----------------+-------------------------+-------+
| Massage Room 1  | John Hunt               | 6     |
+-----------------+-------------------------+-------+
| Massage Room 1  | Matthew Genting         | 52    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Nancy Dare              | 38    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Ponder Stibbons         | 40    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Ramnaresh Sarwin        | 16    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Tim Boothe              | 76    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Tim Rownam              | 176   |
+-----------------+-------------------------+-------+
| Massage Room 1  | Timothy Baker           | 50    |
+-----------------+-------------------------+-------+
| Massage Room 1  | Tracy Smith             | 12    |
+-----------------+-------------------------+-------+
| Massage Room 2  | Anne Baker              | 4     |
+-----------------+-------------------------+-------+
| Massage Room 2  | Charles Owen            | 4     |
+-----------------+-------------------------+-------+
| Massage Room 2  | David Jones             | 8     |
+-----------------+-------------------------+-------+
| Massage Room 2  | Florence Bader          | 4     |
+-----------------+-------------------------+-------+
| Massage Room 2  | Gerald Butters          | 2     |
+-----------------+-------------------------+-------+
| Massage Room 2  | Jack Smith              | 2     |
+-----------------+-------------------------+-------+
| Massage Room 2  | Janice Joplette         | 4     |
+-----------------+-------------------------+-------+
| Massage Room 2  | Joan Coplin             | 4     |
+-----------------+-------------------------+-------+
| Massage Room 2  | Matthew Genting         | 2     |
+-----------------+-------------------------+-------+
| Massage Room 2  | Nancy Dare              | 10    |
+-----------------+-------------------------+-------+
| Massage Room 2  | Ramnaresh Sarwin        | 6     |
+-----------------+-------------------------+-------+
| Massage Room 2  | Tim Rownam              | 4     |
+-----------------+-------------------------+-------+
| Pool Table      | Anna Mackenzie          | 83    |
+-----------------+-------------------------+-------+
| Pool Table      | Anne Baker              | 12    |
+-----------------+-------------------------+-------+
| Pool Table      | Burton Tracy            | 30    |
+-----------------+-------------------------+-------+
| Pool Table      | Charles Owen            | 1     |
+-----------------+-------------------------+-------+
| Pool Table      | Darren Smith            | 28    |
+-----------------+-------------------------+-------+
| Pool Table      | David Farrell           | 25    |
+-----------------+-------------------------+-------+
| Pool Table      | David Jones             | 8     |
+-----------------+-------------------------+-------+
| Pool Table      | David Pinker            | 9     |
+-----------------+-------------------------+-------+
| Pool Table      | Douglas Jones           | 2     |
+-----------------+-------------------------+-------+
| Pool Table      | Florence Bader          | 23    |
+-----------------+-------------------------+-------+
| Pool Table      | Gerald Butters          | 6     |
+-----------------+-------------------------+-------+
| Pool Table      | Henrietta Rumney        | 3     |
+-----------------+-------------------------+-------+
| Pool Table      | Henry Worthington-Smyth | 37    |
+-----------------+-------------------------+-------+
| Pool Table      | Hyacinth Tupperware     | 9     |
+-----------------+-------------------------+-------+
| Pool Table      | Jack Smith              | 7     |
+-----------------+-------------------------+-------+
| Pool Table      | Janice Joplette         | 27    |
+-----------------+-------------------------+-------+
| Pool Table      | Jemima Farrell          | 1     |
+-----------------+-------------------------+-------+
| Pool Table      | Joan Coplin             | 11    |
+-----------------+-------------------------+-------+
| Pool Table      | Matthew Genting         | 18    |
+-----------------+-------------------------+-------+
| Pool Table      | Millicent Purview       | 5     |
+-----------------+-------------------------+-------+
| Pool Table      | Nancy Dare              | 19    |
+-----------------+-------------------------+-------+
| Pool Table      | Ponder Stibbons         | 12    |
+-----------------+-------------------------+-------+
| Pool Table      | Ramnaresh Sarwin        | 13    |
+-----------------+-------------------------+-------+
| Pool Table      | Tim Boothe              | 26    |
+-----------------+-------------------------+-------+
| Pool Table      | Tim Rownam              | 282   |
+-----------------+-------------------------+-------+
| Pool Table      | Timothy Baker           | 95    |
+-----------------+-------------------------+-------+
| Pool Table      | Tracy Smith             | 64    |
+-----------------+-------------------------+-------+
| Snooker Table   | Anna Mackenzie          | 14    |
+-----------------+-------------------------+-------+
| Snooker Table   | Burton Tracy            | 40    |
+-----------------+-------------------------+-------+
| Snooker Table   | Charles Owen            | 44    |
+-----------------+-------------------------+-------+
| Snooker Table   | Darren Smith            | 24    |
+-----------------+-------------------------+-------+
| Snooker Table   | David Farrell           | 2     |
+-----------------+-------------------------+-------+
| Snooker Table   | David Jones             | 4     |
+-----------------+-------------------------+-------+
| Snooker Table   | David Pinker            | 32    |
+-----------------+-------------------------+-------+
| Snooker Table   | Florence Bader          | 66    |
+-----------------+-------------------------+-------+
| Snooker Table   | Gerald Butters          | 72    |
+-----------------+-------------------------+-------+
| Snooker Table   | Henrietta Rumney        | 28    |
+-----------------+-------------------------+-------+
| Snooker Table   | Hyacinth Tupperware     | 12    |
+-----------------+-------------------------+-------+
| Snooker Table   | Jack Smith              | 10    |
+-----------------+-------------------------+-------+
| Snooker Table   | Janice Joplette         | 142   |
+-----------------+-------------------------+-------+
| Snooker Table   | Jemima Farrell          | 44    |
+-----------------+-------------------------+-------+
| Snooker Table   | Joan Coplin             | 20    |
+-----------------+-------------------------+-------+
| Snooker Table   | Matthew Genting         | 2     |
+-----------------+-------------------------+-------+
| Snooker Table   | Millicent Purview       | 2     |
+-----------------+-------------------------+-------+
| Snooker Table   | Nancy Dare              | 46    |
+-----------------+-------------------------+-------+
| Snooker Table   | Ponder Stibbons         | 40    |
+-----------------+-------------------------+-------+
| Snooker Table   | Ramnaresh Sarwin        | 36    |
+-----------------+-------------------------+-------+
| Snooker Table   | Tim Boothe              | 90    |
+-----------------+-------------------------+-------+
| Snooker Table   | Tracy Smith             | 90    |
+-----------------+-------------------------+-------+
| Squash Court    | Anna Mackenzie          | 4     |
+-----------------+-------------------------+-------+
| Squash Court    | Anne Baker              | 110   |
+-----------------+-------------------------+-------+
| Squash Court    | Burton Tracy            | 78    |
+-----------------+-------------------------+-------+
| Squash Court    | Charles Owen            | 14    |
+-----------------+-------------------------+-------+
| Squash Court    | Darren Smith            | 30    |
+-----------------+-------------------------+-------+
| Squash Court    | David Farrell           | 2     |
+-----------------+-------------------------+-------+
| Squash Court    | David Jones             | 16    |
+-----------------+-------------------------+-------+
| Squash Court    | David Pinker            | 6     |
+-----------------+-------------------------+-------+
| Squash Court    | Douglas Jones           | 2     |
+-----------------+-------------------------+-------+
| Squash Court    | Florence Bader          | 4     |
+-----------------+-------------------------+-------+
| Squash Court    | Gerald Butters          | 18    |
+-----------------+-------------------------+-------+
| Squash Court    | Henrietta Rumney        | 4     |
+-----------------+-------------------------+-------+
| Squash Court    | Hyacinth Tupperware     | 2     |
+-----------------+-------------------------+-------+
| Squash Court    | Jack Smith              | 22    |
+-----------------+-------------------------+-------+
| Squash Court    | Janice Joplette         | 30    |
+-----------------+-------------------------+-------+
| Squash Court    | Jemima Farrell          | 16    |
+-----------------+-------------------------+-------+
| Squash Court    | Joan Coplin             | 2     |
+-----------------+-------------------------+-------+
| Squash Court    | John Hunt               | 2     |
+-----------------+-------------------------+-------+
| Squash Court    | Millicent Purview       | 2     |
+-----------------+-------------------------+-------+
| Squash Court    | Ponder Stibbons         | 4     |
+-----------------+-------------------------+-------+
| Squash Court    | Ramnaresh Sarwin        | 4     |
+-----------------+-------------------------+-------+
| Squash Court    | Tim Boothe              | 24    |
+-----------------+-------------------------+-------+
| Squash Court    | Timothy Baker           | 10    |
+-----------------+-------------------------+-------+
| Squash Court    | Tracy Smith             | 12    |
+-----------------+-------------------------+-------+
| Table Tennis    | Anna Mackenzie          | 32    |
+-----------------+-------------------------+-------+
| Table Tennis    | Anne Baker              | 2     |
+-----------------+-------------------------+-------+
| Table Tennis    | Burton Tracy            | 48    |
+-----------------+-------------------------+-------+
| Table Tennis    | Charles Owen            | 50    |
+-----------------+-------------------------+-------+
| Table Tennis    | Darren Smith            | 56    |
+-----------------+-------------------------+-------+
| Table Tennis    | David Jones             | 22    |
+-----------------+-------------------------+-------+
| Table Tennis    | David Pinker            | 34    |
+-----------------+-------------------------+-------+
| Table Tennis    | Erica Crumpet           | 4     |
+-----------------+-------------------------+-------+
| Table Tennis    | Florence Bader          | 86    |
+-----------------+-------------------------+-------+
| Table Tennis    | Gerald Butters          | 2     |
+-----------------+-------------------------+-------+
| Table Tennis    | Henry Worthington-Smyth | 6     |
+-----------------+-------------------------+-------+
| Table Tennis    | Jack Smith              | 10    |
+-----------------+-------------------------+-------+
| Table Tennis    | Janice Joplette         | 18    |
+-----------------+-------------------------+-------+
| Table Tennis    | Jemima Farrell          | 24    |
+-----------------+-------------------------+-------+
| Table Tennis    | Joan Coplin             | 46    |
+-----------------+-------------------------+-------+
| Table Tennis    | John Hunt               | 2     |
+-----------------+-------------------------+-------+
| Table Tennis    | Matthew Genting         | 54    |
+-----------------+-------------------------+-------+
| Table Tennis    | Millicent Purview       | 14    |
+-----------------+-------------------------+-------+
| Table Tennis    | Nancy Dare              | 10    |
+-----------------+-------------------------+-------+
| Table Tennis    | Ponder Stibbons         | 6     |
+-----------------+-------------------------+-------+
| Table Tennis    | Ramnaresh Sarwin        | 6     |
+-----------------+-------------------------+-------+
| Table Tennis    | Tim Boothe              | 8     |
+-----------------+-------------------------+-------+
| Table Tennis    | Tim Rownam              | 150   |
+-----------------+-------------------------+-------+
| Table Tennis    | Timothy Baker           | 48    |
+-----------------+-------------------------+-------+
| Table Tennis    | Tracy Smith             | 56    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Anne Baker              | 18    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Burton Tracy            | 93    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Charles Owen            | 51    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | David Farrell           | 18    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | David Jones             | 84    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | David Pinker            | 51    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Douglas Jones           | 27    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Erica Crumpet           | 3     |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Florence Bader          | 3     |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Gerald Butters          | 171   |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Jack Smith              | 75    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Janice Joplette         | 57    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Jemima Farrell          | 3     |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Joan Coplin             | 21    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | John Hunt               | 12    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Matthew Genting         | 3     |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Nancy Dare              | 81    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Ponder Stibbons         | 3     |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Ramnaresh Sarwin        | 15    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Tim Boothe              | 12    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Tim Rownam              | 18    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Timothy Baker           | 45    |
+-----------------+-------------------------+-------+
| Tennis Court 1  | Tracy Smith             | 93    |
+-----------------+-------------------------+-------+
| Tennis Court 2  | Anne Baker              | 114   |
+-----------------+-------------------------+-------+
| Tennis Court 2  | Burton Tracy            | 9     |
+-----------------+-------------------------+-------+
| Tennis Court 2  | Charles Owen            | 141   |

In [33]:
/* Q13: Find the facilities usage by month, but not guests */
SELECT
    f.name as facility, 
    strftime('%m', b.starttime) as month, 
    sum(slots) as usage
FROM Facilities as f
INNER JOIN Bookings as b
    USING(facid)
INNER JOIN Members as m
    USING(memid)
WHERE m.memid != 0
GROUP BY facility, month
ORDER BY facility, month

+-----------------+-------+-------+
| facility        | month | usage |
+-----------------+-------+-------+
| Badminton Court | 07    | 165   |
+-----------------+-------+-------+
| Badminton Court | 08    | 414   |
+-----------------+-------+-------+
| Badminton Court | 09    | 507   |
+-----------------+-------+-------+
| Massage Room 1  | 07    | 166   |
+-----------------+-------+-------+
| Massage Room 1  | 08    | 316   |
+-----------------+-------+-------+
| Massage Room 1  | 09    | 402   |
+-----------------+-------+-------+
| Massage Room 2  | 07    | 8     |
+-----------------+-------+-------+
| Massage Room 2  | 08    | 18    |
+-----------------+-------+-------+
| Massage Room 2  | 09    | 28    |
+-----------------+-------+-------+
| Pool Table      | 07    | 110   |
+-----------------+-------+-------+
| Pool Table      | 08    | 303   |
+-----------------+-------+-------+
| Pool Table      | 09    | 443   |
+-----------------+-------+-------+
| Snooker Table   | 07    | 140   |
+-----------------+-------+-------+
| Snooker Table   | 08    | 316   |
+-----------------+-------+-------+
| Snooker Table   | 09    | 404   |
+-----------------+-------+-------+
| Squash Court    | 07    | 50    |
+-----------------+-------+-------+
| Squash Court    | 08    | 184   |
+-----------------+-------+-------+
| Squash Court    | 09    | 184   |
+-----------------+-------+-------+
| Table Tennis    | 07    | 98    |
+-----------------+-------+-------+
| Table Tennis    | 08    | 296   |
+-----------------+-------+-------+
| Table Tennis    | 09    | 400   |
+-----------------+-------+-------+
| Tennis Court 1  | 07    | 201   |
+-----------------+-------+-------+
| Tennis Court 1  | 08    | 339   |
+-----------------+-------+-------+
| Tennis Court 1  | 09    | 417   |
+-----------------+-------+-------+
| Tennis Court 2  | 07    | 123   |
+-----------------+-------+-------+
| Tennis Court 2  | 08    | 345   |
+-----------------+-------+-------+
| Tennis Court 2  | 09    | 414   |
+-----------------+-------+-------+